.App {
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-body {
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.particle-specifier {
  padding-top: 10px;
}

.particle-specifier h4 {
  margin: 0;
}

.system-specifier h3 {
  margin: 0;
}
